<% for(var i=0; i<packages.length; i++) { %>
    <ul>
        <li>
            <p><strong> Package Name: </strong> <%- packages[i].name %> </p>
            <p><strong> Package Price: </strong> <%- packages[i].price %> </p>
        </li>
    </ul>
<% } %>